.footer-section-main {
  padding: 32px 0px;
  background-color: #3968b6;
  text-align: center;
  color: #fff;
  margin-top: auto;
}
.footer-icons svg.MuiSvgIcon-root {
  font-size: 34px;
  margin: 0px 10px;
  cursor: pointer;
  color: #ffcc00;
}
.footer-text p {
  font-size: 16px;
  color: #ffff;
  font-weight: 400;
}
.startup-text{
  margin-top: 50px;
}

.footer-section-main hr.line-footer {
  margin: 30px 0;
  border: none !important;
}

@media screen and (max-width: 320px) {
  .footer-section-main {
    padding: 20px 0px;
  }
  .footer-section-main hr.line-footer {
    margin: 20px 0px !important;
  }
}

@media screen and (max-width: 480px) {
  .footer-section-main hr.line-footer {
    margin: 15px 0px !important;
  }
}
@media screen and (min-device-width: 541px) and (max-device-width: 640px) {
  .footer-icons svg.MuiSvgIcon-root {
    font-size: 28px !important;
    margin: 0 4px !important;
  }
  .footer-section-main hr.line-footer {
    margin: 15px 0 !important;
  }
  .footer-section-main {
    padding: 20px 0px;
  }
}
@media screen and (min-device-width: 769px) and (max-device-width: 1024px) {
  .footer-icons svg.MuiSvgIcon-root {
    font-size: 30px !important;
    margin: 0px 4px !important;
  }
}
@media screen and (min-device-width: 1025px) and (max-device-width: 1480px) {
  .footer-section-main hr.line-footer {
    margin: 30px 0 !important;
    border: none !important;
  }
  .footer-text p {
    font-size: 16px !important;
    margin-bottom: 0.5rem !important;
  }
  .footer-icons svg.MuiSvgIcon-root {
    font-size: 32px !important;
    margin: 0 8px !important;
  }
  .footer-text {
    padding: 0px 10px !important;
  }
}

.footer-link{
  color: white;
  text-decoration: none;
}

.footer-link:hover{
  color: #ffcc00;
  cursor: pointer;
}

.mr-1{
  margin-right: 1%;
}
